<h2><%= @section.heading %> Lessons</h2>
<%= link_to 'Add a lesson', new_section_lesson_path(@section) %>



<% @section.lessons.each_with_index do |lesson, i| %>
  <h3 class='title' data-toggle="collapse" data-target="#<%= lesson.title.split.join %>">
    <%= lesson.title %>
  </h3>
  <div id="<%= lesson.title.split.join %>" class="collapse out">
    <%= lesson.content %>
  </div>
<% end %>
