<h2><%= @section.heading %> Lessons</h2>
<%= link_to 'Add a lesson', new_section_lesson_path(@section) %>



<% @section.lessons.each_with_index do |lesson, i| %>
  <div class="lesson">
  <h3 class='title'><%= lesson.title %></h3>
  <p class='hidden-content <%= lesson.title %>'>
    <%= lesson.content %>
  </p>
</div>
<% end %>
